body {
  font-family: Helvetica;
}

.modal-backdrop {
  background-color: white;
}

#keyboard {
  margin-top: 10px;
  position: fixed;
  bottom: 0px;
}

.keyrow {
  padding: 0 0 6px 0;
  justify-content: center;
  display: flex;
}

.row {
  margin: 0 auto 0 auto;
}

.key {
  border: 1px solid #d3d6da;
  border-radius: 2px;
  background-color: #d3d6da;
  width: 4vh;
  height: 58px;
  margin-left: 3px;
  margin-right: 3px;

  color: black;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  width: 2vh;
  color: white;
  background-color: white;
  border: none;
}

.wide {
  width: 6vh;
}

ion-icon {
  font-size: 24px;
}

h1 {
  padding-top: 20px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

h5 {
  margin: auto 0 auto auto;
  text-align: center;
  font-weight: bold;
}

li {
  padding: 10px;
}
#container {
  height: 70vh;
  margin: auto;
}

#board {
  width: 420px;
  height: 300px;
  /* min-width: 400px; */
  /* height: 420px; */
  margin: auto;
  /* margin-top: 3px; */
  display: flex;
  flex-wrap: wrap;
}

.example {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.example span {
  width: 40px;
  height: 40px;
  font-size: medium;
}

#answer {
  height: 50px;
}
.answer {
  border: 1px solid white;
  padding: 10px;
  margin: 0 auto 0 auto;
  background-color: black;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  max-width: fit-content;
}

.tile {
  border: 2px solid #d3d6da;
  width: 50px;
  height: 50px;
  margin: 2.5px;

  color: black;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  color: white;
  background-color: #6aaa64;
  border-color: white;
}

.present {
  color: white;
  background-color: #c9b458;
  border-color: white;
}

.absent {
  color: white;
  background-color: #787c7e;
  border-color: white;
}

.navbar {
  border-bottom: 1px solid #787c7e;
  margin: 0;
}

.navButtons {
  background-color: white;
  border: none;
  color: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 475px) {
  /* .tile {
    border: 2px solid lightgray;
    width: 7vh;
    height: 7vh;
    margin: 1vw;
  } */

  .key {
    height: 48px;
  }

  .wide {
    width: 8vh;
  }

  #container {
    height: 50vh;
  }
}
